#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#

<html lang="$preflang">
#if(! $intercept_view)
  <head>
  		<meta charset="UTF-8">
         <link rel="stylesheet" type="text/css" href="/car/resources/css/main.css">
      <link rel="stylesheet" href="resources/css/duke.css">
  
    	<!--<script rel="stylesheet" src="https://shib-test.oit.duke.edu/idms-assets/dist/bundle.js"></script>-->
    	<script rel="stylesheet" src="/car/resources/js/bundle.js"></script>
        <script type="text/javascript" src="/car/resources/js/main.js"></script>
        <title>$top_heading</title>
  </head>

  <body>
    <div id="header">
      <div id="logo"><img src="$institutional_logo_url" alt=""></div>
      <h1>$top_heading</h1>

      <div id="login-details">
        $authuser&nbsp;&nbsp;<a href="$logouturl">$sign_out</a>
      </div>
    </div>

	#if(! $activetab)
		#set($activetab="mysites")
	#end
	<div id="menu">
		<ul id="menu-options">
			<li><a href="/car/carma/selfservice" #if($activetab=="homepage")class="active-tab"#end>Privacy Home</a></li>
			<li><a href="/car/carma/new_rp" #if($activetab=="preference")class="active-tab"#end>Preferences</a></li>
			<li><a href="/car/carma/selfservice/sites" #if($activetab=="mysites")class="active-tab"#end>Sites and Services</a></li>
		</ul>			
	</div>
	
    <div id="main">
    
#else

  <head>
  		  <meta charset="UTF-8">
          <link rel="stylesheet" type="text/css" href="/car/resources/css/main.css">
  
   		<!--<script rel="stylesheet" src="https://shib-test.oit.duke.edu/idms-assets/dist/bundle.js"></script>-->
		<script rel="stylesheet" src="/car/resources/js/bundle.js"></script>
        <script type="text/javascript" src="/car/resources/js/main.js"></script>
        
        
  
  	    <link rel="stylesheet" href="resources/css/intercept-main.css">
    <link rel="stylesheet" href="resources/css/duke.css">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="resources/js/jquery.leanModal.min.js"></script>
    <script type="text/javascript" src="resources/js/main.js"></script>
    
    <script type="text/javascript">
    	var permitInjectedJS = $.parseJSON('$permitInjected');
    	var denyInjectedJS = $.parseJSON('$denyInjected');
    	var permitMayJS = $.parseJSON('$permitMay');
    	var denyMayJS = $.parseJSON('$denyMay');
    	var permitNoJS = $.parseJSON('$permitNo');
    	
    	var sensitivityJS = $.parseJSON('$sensitivity');
    	var asndJS = $.parseJSON('$asnd');
    	
    	var policytypeJS = $.parseJSON('$policytype');
    	
    	var valuesetsJS = $.parseJSON('$valuesets');
    	var displayvaluesetsJS = $.parseJSON('$displayvaluesets');
    	
    </script>
    <title>$page-title</title>
   </head>
    <body>
    <div id="header">
      <div id="logo"><img src="$institutional_logo_url" alt=""></div>
      <h1>$top_heading</h1>


    </div>
   #end