car.car.hostname=apache-sp
car.car.port=443
car.informed.hostname=apache-sp
car.informed.port=443
car.icm.hostname=apache-sp
car.icm.port=443
car.copsu.hostname=apache-sp
car.copsu.port=443
car.arpsi.hostname=apache-sp
car.arpsi.port=443

car.institutionname=%institution_name%

car.icmUser=%carma_user%
car.icmCred=%carma_password%

car.informedUser=%carma_user%
car.informedCred=%carma_password%

car.arpsiUser=%carma_user%
car.arpsiCred=%carma_password%

car.copsuUser=%carma_user%
car.copsuCred=%carma_password%

car.userIdentifier=eduPersonUniqueId

car.carma.hostname=apache-sp
car.carma.port=443

car.defaultLocale=en

car.privatekeyfile=/var/www/carma/carmaprivkey.p8
car.certificatefile=/var/www/carma/carmacert
car.rhcertfile=/var/www/carma/shibcert
car.rhcertdir=/var/www/carma/rhcerts

car.carma.issuerid=localhost

car.carma.logouturl=https://localhost/Shibboleth.sso/Logout

# TTLs in seconds for value, rp, and ii metainformation caches
car.vmic.ttl=3600
car.rpmic.ttl=3600
car.iimic.ttl=3600

# URL to return to in the even of a transaction being cancelled (optional)
cancelURL=https://www.internet2.edu

car.basicauth.validator.class=%basicauth_class%

krbauth.realm=%krb_default_realm%
krbauth.defaultService=krbtgt/%krb_default_realm%@%krb_default_realm%

