
page-title=%inst_short% Informationsfreigabe
title-choice=Überprüfen und bearbeiten Sie, was Sie dieser Site zur Verfügung stellen
title-nochoice=Überprüfen Sie, was Sie für diese Site bereitstellen
intro={0} bittet um Zugang zu Ihren persönlichen Daten.
header_nochoice=Wenn Sie fortfahren, werden die folgenden Informationen an {0} weitergeleitet:
header_must=Sie müssen entscheiden, ob Sie Folgendes freigeben möchten.
header_may=Sie können Ihre Einstellungen für {0} aktualisieren:	
header_must_and_may=Sie können auch Ihre Einstellungen für {0} aktualisieren:
show_required=Andere Informationen anzeigen, die für {0} freigegeben werden
rp_privacy_link=Datenschutz-Bestimmungen
rp_privacy_no_link=Diese Website enthält keine Datenschutzbestimmungen
rp_no_summary=Diese Website hat keine Beschreibung bereitgestellt
self_service_link=Aktualisieren Sie Ihre Einstellungen: Consent Manager
choice_edit=Bearbeiten Sie diese Auswahlmöglichkeiten
choice_dont_edit=Fahren Sie ohne Bearbeitung fort
continue_button_false=Stornieren
continue_button_true=Akzeptieren und weiter
save_true_suppress=Speichern Sie meine Auswahl; zeige mir diesen Bildschirm nur dann wieder, wenn es nötig ist.
save_true_show_again=Speichern Sie meine Auswahl, aber zeigen Sie mir diesen Bildschirm beim nächsten Mal.
save_false=Speichern Sie nicht die Entscheidungen, die ich gerade getroffen habe. Zeigen Sie mir diesen Bildschirm beim nächsten Mal.
acknowledge_show_false=Zeigen Sie mir diesen Bildschirm nur dann wieder, wenn dies erforderlich ist.
acknowledge_show_true=Zeigen Sie mir diesen Bildschirm beim nächsten Mal.
save_prompt=Wähle ein:
release_what=Was möchten Sie an {0} veröffentlichen?
recommends=%inst_short% empfiehlt:
mysites=Meine Sites
rplistdescr=Verwalten Sie, welche Informationen mit diesen Websites geteilt werden:
nspname=Neue Site-Richtlinie
nspdescr=Verwalten Sie die Standardeinstellungen für die Informationen, die für neue Websites freigegeben werden
nochoice_nodisplay=Zeigen Sie mir diesen Bildschirm nur dann wieder, wenn dies erforderlich ist
nochoice_display=Zeigen Sie mir diesen Bildschirm beim nächsten Mal
institution_name=%inst_long%
held-by=Angeforderte Informationen gehalten von
edit-presets=Bearbeiten Sie die Voreinstellungen von %inst_short%
update-settings=Aktualisieren Sie Ihre Einstellungen
privacy-policy=Datenschutz-Bestimmungen
mandatory-header=Informationen, die zur Verfügung gestellt werden müssen, um diese Website zu nutzen
dont-show=Diesen Bildschirm beim nächsten Anmelden nicht mehr anzeigen
self-service-description=Sie können Ihre bestehenden Einstellungen für diese Site und andere jederzeit aktualisieren, indem Sie besuchen
save-continue=Speichern und fortfahren
cancel=Stornieren

new_site_prefs=Neue Site-Einstellungen
new_site_subheading=Wie möchten Sie, dass wir auf einer neuen Website nach Ihren Informationen fragen?
permit_description=Informationen bereitstellen
deny_description=Nicht zur Verfügung stellen
askme_description=veranlassen mich zu entscheiden
userec_prefix=folgen
userec_suffix=Empfehlung
not_above=Informationen, die oben nicht aufgeführt sind
notpresent_header=Wie sollen wir mit Ihren "ask me" Entscheidungen umgehen, wenn Sie nicht zur Verfügung stehen, um zu fragen?
notpresent_description=Wenn Ihre Daten beim Login abgefragt werden, können wir Sie auffordern, eine Entscheidung zu treffen. Wenn Ihre Informationen angefordert werden, wenn Sie eine Site oder einen Dienst nicht verwenden (z. B. während eines routinemäßigen Aktualisierungsprozesses), was sollen wir mit Ihrer Auswahl "ask me" tun?
permit_longdescr=Geben Sie die angeforderten Informationen an
deny_longdescr=Geben Sie die angeforderten Informationen nicht an
userec_longprefix=Geben Sie die angeforderten Informationen nach Ermessen von
userec_longsuffix=an
save_label=Speichern
whatis_header=Was ist das?
whatis_body=
<p> Standardmäßig werden Sie gefragt, wie Sie vorgehen sollen, wenn eine neue Site oder ein neuer Dienst Informationen über Sie anfordert. Wenn Sie nicht gefragt werden oder allgemeine Richtlinien festlegen möchten, wie wir auf neue Websites reagieren sollen, können Sie hier Ihre Einstellungen angeben. </p> <p> Sie können die Einstellungen für bestimmte Websites unter <a href="/car/carma/selfservice/sites">Websites und Dienste</a> Seite. </p>

mysss=Meine Websites und Dienste
manage_link=verwalten
name_heading=Name
url_heading=URL/Service ID
updated_heading=Aktualisiert
add_site=Fügen Sie eine Site hinzu
aboutsite_header=Über diese Sites
aboutsite_body=Diese Seite zeigt teilnehmende Websites, die Informationen über Sie angefordert haben, entweder weil Sie sie besucht haben oder aus administrativen Gründen. Sie können überprüfen und (soweit möglich) verwalten, welche Informationen über Sie an diese Websites weitergegeben werden.

manage_heading=Verwalten des Informationsaustauschs für
requested_heading=Informationen angefordert von
required_heading=Informationen benötigt von
cancel_label=Stornieren
no_optional=fordert keine optionalen Informationen an
required_description=wird die folgenden Informationen veröffentlichen
requested_description=Sie können wählen, ob die folgenden Informationen geteilt werden mit
all_other_prefix=Wenn
all_other_suffix=fordert Informationen an, die oben nicht aufgeführt sind
while_away_prefix=Wenn Sie oben "ask me" gewählt haben, aber nicht antworten können, wann
while_away_suffix=fordert Informationen über Sie an
edit_label=Bearbiten
no_required=erhält nicht automatisch alle erforderlichen Informationen über Benutzer
history=Geschichte
updated_label=Aktualisiert
policy_version=Richtlinienversion
privacy_policy_label=Datenschutz-Bestimmungen
no_privacy=keine Datenschutz-Bestimmungen
short_institution=%inst_short%
recommends=Empfiehlt
current_value=Aktueller Wert
current_choice=Aktueller Auswahl
additional_heading=Zusätzliche Einstellungen
while_away_heading=Während ich weg bin
any_values=beliebige Werte
all_other_heading=Alle anderen Informationen
item=Artikel

top_heading=Institutionelle Datenschutzeinstellungen

missing_baseid=Fehlende BaseID
unable_user=Benutzer kann nicht aus Richtlinie abgerufen werden
logged_user=Angemeldeter Benutzer
missing_convo=Ihr Browser hat die erforderlichen Informationen nicht bereitgestellt. In der Regel weist dies auf einen Fehler hin.
csrf_fail=CSRF-Verletzung. Ihre Sitzung mit dem Server ist möglicherweise abgelaufen (Sitzungen laufen nach 10 Minuten Inaktivität ab).
empty_policy_fail=Eine leere oder fehlende Richtlinien-ID ist nicht zulässig
not_found=nicht gefunden
retrieve_user_fail=Benutzer kann nicht aus Richtlinie abgerufen werden
user_match_fail=stimmt nicht mit dem Eigentümer der Richtlinie überein
add_site_heading=Eine Site hinzufügen
about_add_heading=Informationen zum Hinzufügen von Sites
about_add_site=In den meisten Fällen werden Websites automatisch zu Ihrer Einstellungsliste hinzugefügt, wenn Sie diese besuchen und Ihre Einstellungen festlegen. Aus verschiedenen Gründen möchten oder müssen Sie möglicherweise Einstellungen für eine Site oder einen Dienst festlegen, ohne sie tatsächlich zu besuchen. Beispielsweise müssen Sie möglicherweise Einstellungen für die Verwendung Ihrer persönlichen Informationen festlegen, bevor ein Dienst in Ihrer Abwesenheit versucht, auf sie zuzugreifen. Hier sind alle Websites und Dienste aufgeführt, für die Sie derzeit keine spezifischen Einstellungen festgelegt haben. Klicken Sie auf den Link "Hinzufügen" neben einem von ihnen, um einen Editor zu öffnen, in dem Sie Ihre Einstellungen für diese Site festlegen können.
site_service=Site/Service
resource_holder=Ressourceninhaber
add=Hinzufügen
sign_out=Ausloggen

institutional_logo_url=%ilogo_url%
