/*
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 */
 
  
  input[class~='permit-button']:checked + label{
    transform: scale(1);
    -webkit-appearance: none;
    /*background: url("../img/circle-check.png") center no-repeat;*/
    background: url("../img/circle-check-3.png") center no-repeat;  
	border: none;
  }
  
  input[class~='deny-button']:checked + label{
    transform: scale(1);
    -webkit-appearance: none;
     background: url("../img/circle-x.png") center no-repeat;  
     border: none;     
  }
  
 

