/*
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 */
a{
  color: #0577b1;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px dotted #0577b1;
  line-height: 2em;
}

a:hover{
  color: #001a57;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #001a57;
}

h1{color: #001a57}
h2{color: #666666}
h3{color: #001a57}
h4{color: #666666}

#header{
  background: #001a57;
}

button.active{
  color: #fff;
  border: 2px solid #001a57;
  background: #001a57;
}

button.active:hover{
  background: #0577b1;
  border: 2px solid #0577b1;
}

button.inactive{
  border: 2px solid #d8d8d8;
  background: #fff;
}

button.inactive:hover{
  border: 2px solid #d8d8d8;
  background: #d8d8d8;
}

.hideframe{
	height: 1px;
	border: none;
}
.offscreen{
	height: 1px;
	width: 1px;
	position: absolute;
	overflow: hidden;
	top: -10px;
}
