#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
		     #if($successmsg)
		<div class="message success">
			$successmsg
		</div>
	#end
	#if($failmsg)
		<div class="message error">
			$failmsg
		</div>
	#end
	#if($noticemsg)
		<div class="message notice">
			$noticemsg
		</div>
	#end
		<h1>$add_site_heading</h1>
		<div id="sidebar">
			<div class="content-section">
				<h2>$about_add_heading</h2>
				$about_add_site
			</div>
		</div>
		<div id="left">
			<div class="content-section">
				#if($items.size() > 10) 
					<table class="display full-width dataTable no-footer" role="grid" aria-describedby="rptable_info" id="rptable">
				#else
					<table class="display full-width" id="rptable">
				#end
						<thead>
							<tr>
								<th>$site_service</th>
								<th>$resource_holder</th>
								<th>$add?</th>
							</tr>
						</thead>
						<tbody>
							#set($ctr=0)
							#foreach($item in $items)
								#set($ctr=$ctr+1)
								<tr>
									<input type="hidden" id="rhtype_$ctr" value="$item.getRhtype()">
									<input type="hidden" id="rhid_$ctr" value="$item.getRhid()">
									<input type="hidden" id="rptype_$ctr" value="$item.getRptype()">
									<input type="hidden" id="rpid_$ctr" value="$item.getRpid()">
									<input type="hidden" id="usertype_$ctr" value="$item.getUsertype()">
									<td>$item.getRpdisp()</td>
									<td>$item.getRhdisp()</td>
									<td><a class="adder" id="adder_$ctr" href="#">$add</a></td>
								</tr>
							#end
						</tbody>
					</table>
			</div>
		</div>
		<form name="addform" id="addform" style="display:none;" method="POST" action="#">
			<input id="add_rhid" type="hidden" name="add_rhid" value="">
			<input id="add_rhtype" type="hidden" name="add_rhtype" value="">
			<input id="add_rpid" type="hidden" name="add_rpid" value="">
			<input id="add_rptype" type="hidden" name="add_rptype" value="">
			<input id="add_usertype" type="hidden" name="add_usertype" value="">
			<input id="add_userid" type="hidden" name="add_userid" value="$remoteuser">
			<input id="conversation" type="hidden" name="conversation" value="$conversation">
			<input id="csrftoken" type="hidden" name="csrftoken" value="$csrftoken">
		</form>
	   <script type="text/javascript">
    	$(document).ready(function() {
    		$(".dataTable").DataTable(
    			{
    				"columns": [
    					null,
    					null,
    					null],
    				"drawCallback": function(settings) {
    					$(".adder").click(function(e) {
    						e.preventDefault();
    						handleAdd(e);
    					});
    				}
    			});
    		$(".adder").click(function(e) {
    			e.preventDefault();
    			handleAdd(e);
    		});
    	});
    	
    	function handleAdd(e) {
    		e.preventDefault();
    		var num = e.target.id.replace("adder_","");
    		var rhid = String($("#rhid_"+num).val());
    		$("#add_rhid").val(rhid);
    		var rhtype = String($("#rhtype_"+num).val());
    		$("#add_rhtype").val(rhtype);
    		var rpid = String($("#rpid_"+num).val());
    		$("#add_rpid").val(rpid);
    		var rptype = String($("#rptype_"+num).val());
    		$("#add_rptype").val(rptype);
    		var usertype = String($("#usertype_"+num).val());
    		$("#add_usertype").val(usertype);
    		$("#addform").submit();
    	}
    </script>
				