#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
		     #if($successmsg)
		<div class="message success">
			$successmsg
		</div>
	#end
	#if($failmsg)
		<div class="message error">
			$failmsg
		</div>
	#end
	#if($noticemsg)
		<div class="message notice">
			$noticemsg
		</div>
	#end
<h1>$new_site_prefs</h1>
<div id="sidebar">
	<div class="content-section">
	<h2>$whatis_header</h2>
		$whatis_body
</div>
</div>

<div id="left">
	<div class="content-section">
	
	<h2>$new_site_subheading</h2>
	<form name="postData" id="newRPForm" method="POST" action="new_rp">
	<!--<table id="settings-table" class="display smaller-text">-->
	<table class="display full-width smaller-text">
		<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Permit<div style="font-weight: normal;"><i>$permit_description</i></div></th>
			<th>Deny<div style="font-weight: normal;"><i>$deny_description</i></div></th>
			<th>Ask Me<div style="font-weight: normal;"><i>$askme_description</i></div></th>
			<th>Use Recommendation<div style="font-weight: normal;"><i>$userec_prefix ${institution_name}'s $userec_suffix</i></div></th>
		</tr>
		</thead>
		#set ($attrnum = 0)
		#foreach ($dec in $decisions) 
			<tbody>
				#set ($first = 0)
				#set ($disp = $dec.getDisplayValues())
				#foreach ($val in $dec.getDecisions().keySet())
					#set ($dv = $disp[$val])
					<tr>
						#if ($first == 0) 
							<td style="max-width: 40em;word-break: break-all;"><div class="label">$dec.getAttribute()</div>
								#if($dv)
								<div class="sublabel">$dv</div>
								#else
								<div class="sublabel">$val</div>
								#end
							</td>
						#else  
							#if($dv)
							<td style="max-width: 40em;word-break: break-all"><div class="sublabel">$dv</div>
							#else 
							<td style="max-width: 40em;word-break: break-all;"><div class="sublabel">$val</div>
							#end
							</td>
						#end
							<input type="hidden"  name="newRPDecisions['$attrnum'].infoType" value="$dec.getInfoType()">
							<input type="hidden" name="newRPDecisions['$attrnum'].infoValue" value="$dec.getInfoValue()">
							<input type="hidden" name="newRPDecisions['$attrnum'].decisionValue" value="$val">
							<td class="policy-option" style="word-break: keep-all;">
							permit
							#if ($dec.getDecisions().get($val).equalsIgnoreCase("permit"))
								<input type="radio" name="newRPDecisions['$attrnum'].decision" value="permit" checked="checked">
							#else
								<input type="radio" name="newRPDecisions['$attrnum'].decision" value="permit">
							#end
							</td>
							<td class="policy-option" style="word-break: keep-all;">
							deny
							#if ($dec.getDecisions().get($val).equalsIgnoreCase("deny"))
								<input type="radio" name="newRPDecisions['$attrnum'].decision" value="deny" checked="checked">
							#else
								<input type="radio" name="newRPDecisions['$attrnum'].decision" value="deny">
							#end
							</td>
							<td class="policy-option" style="word-break: keep-all;">
							ask me
							#if ($dec.getDecisions().get($val).equalsIgnoreCase("askme"))
								<input type="radio" name="newRPDecisions['$attrnum'].decision" value="askMe" checked="checked">
							#else
								<input type="radio" name="newRPDecisions['$attrnum'].decision" value="askMe">
							#end
							</td>
							<td class="policy-option" style="word-break: keep-all;">
							use recommendation
							#if ($dec.getDecisions().get($val).equalsIgnoreCase("useadvice"))
								<input type="radio" name="newRPDecisions['$attrnum'].decision" value="useAdvice" checked="checked">
							#else
								<input type="radio" name="newRPDecisions['$attrnum'].decision" value="useAdvice">
							#end
							</td>
					</tr>
					#set ($first = $first + 1)
					#set ($attrnum = $attrnum + 1)
				#end
				<tr class="spacer"><th colspan="5" style="padding: .1em;"></th></tr>
			</tbody>
		#end
		<tbody>
		<tr>
		<td><div class="label">Other Information</div>
			<div class="sublabel"><i>$not_above</i></div>
		<td class="policy-option">
			permit
			#if ($others.getDecisions().get("Information not listed above").equalsIgnoreCase("permit"))
				<input type="radio" name="OtherAttributesDecision" value="permit" checked="checked">
			#else
				<input type="radio" name="OtherAttributesDecision" value="permit">
			#end
		</td>
		<td class="policy-option">
			deny
			#if ($others.getDecisions().get("Information not listed above").equalsIgnoreCase("deny"))
				<input type="radio" name="OtherAttributesDecision" value="deny" checked="checked">
			#else
				<input type="radio" name="OtherAttributesDecision" value="deny">
			#end	
		</td>
		<td class="policy-option">
			ask me
			#if ($others.getDecisions().get("Information not listed above").equalsIgnoreCase("askme"))
				<input type="radio" name="OtherAttributesDecision" value="askMe" checked="checked">
			#else
				<input type="radio" name="OtherAttributesDecision" value="askMe">
			#end
		</td>
		<td class="policy-option">
			use recommendation
			#if ($others.getDecisions().get("Information not listed above").equalsIgnoreCase("useadvice"))
				<input type="radio" name="OtherAttributesDecision" value="useAdvice" checked="checked">
			#else
				<input type="radio" name="OtherAttributesDecision" value="useAdvice">
			#end
		</td>
		</tr>
	</tbody> 
	</table>
	</div>
	<div class="content-section">
	<h2>$notpresent_header</h2>
		<p>$notpresent_description</p>
		
		<ul class="simple-list">
			#if ($whileImAwayDecision.equals("permit"))
			<li><input type="radio" name="WhileImAwayDecision" value="permit" checked="checked">&nbsp;<b>Permit</b> - $permit_longdescr</li>
			#else
			<li><input type="radio" name="WhileImAwayDecision" value="permit">&nbsp;<b>Permit</b> - $permit_longdescr</li>
			#end
			#if ($whileImAwayDecision.equals("deny"))
			<li><input type="radio" name="WhileImAwayDecision" value="deny" checked="checked">&nbsp;<b>Deny</b> - $deny_longdescr</li>
			#else
			<li><input type="radio" name="WhileImAwayDecision" value="deny">&nbsp;<b>Deny</b> - $deny_longdescr</li>
			#end
			#if ($whileImAwayDecision.equals("useAdvice"))
			<li><input type="radio" name="WhileImAwayDecision" value="useAdvice" checked="checked">&nbsp;<b>Use Recommendation</b> - $userec_longprefix ${institution_name}'s $userec_longsuffix</li>
			#else
			<li><input type="radio" name="WhileImAwayDecision" value="useAdvice">&nbsp;<b>Use Recommendation</b> - $userec_longprefix ${institution_name}'s $userec_longsuffix</li>
			#end
		</ul>
	</div>
	<button class="active" onClick="document.getElementById('newRPForm').submit();">$save_label<i class="fa button-icon-right fa-arrow-right"></i></button>
	
	</form> 
</div>
</div>
							