#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
     #if($successmsg)
		<div class="message success">
			$successmsg
		</div>
	#end
	#if($failmsg)
		<div class="message error">
			$failmsg
		</div>
	#end
	#if($noticemsg)
		<div class="message notice">
			$noticemsg
		</div>
	#end
     
       	<h1>$manage_heading $localizedRPDisplayName</h1>
 
  	<div id="sidebar">
  		<div class="content-section">
        <h2>$localizedRPDisplayName</h2>
          $localizedRPDescription
          #set($privu=$rpMetaInformation.getPrivacyurl())
          #set($icou=$rpMetaInformation.getIconurl())
          
          #if ($icou && ! $icou.equals(""))
          <img src="$rpMetaInformation.getIconurl()" style="width: 80px; float: right; margin: 1em;" alt="">
          #end
          #if($privu)
          <p><a href="$rpMetaInformation.getPrivacyurl()" target="_blank">$privacy_policy_label</a></p>
          #else
          <p><i>$no_privacy</i></p>
          #end
          <div style="clear: both;"></div>
          
          
      
      </div>
      <div class="content-section">
      	<h2>$history</h2>
      	<ul id="rp-history" class="simple-list">
      		<li>$updated_label: $updateDate</li>
      		<li>$policy_version: $version</li>
      	</ul>
      </div>
    </div>
      <div id="left">
        <div class="content-section">
      	<h2>$requested_heading $localizedRPDisplayName</h2>
        #if (! $injectedDecisions.isEmpty())
        <p>$requested_description $localizedRPDisplayName:</p>
        
        
      <div id="view-preferences">
        
        <table class="display full-width smaller-text">
          <tr>
            <th>$item</th>
            <th class="no-wrap">$current_value</th>
            <th class="no-wrap">$current_choice</th>
            <th class="no-wrap">$short_institution $recommends</th>
            
          </tr>
          #set($seen = {})
          #foreach ($attr in $injectedDecisions.keySet())
          #set($aid = $attr.split(':')[0])
          #if (!$policytype.get($aid).equalsIgnoreCase("PAO") || !$seen.containsKey($aid))
          #if ($policytype.get($aid).equalsIgnoreCase("PAO") && ! $seen.containsKey($aid))
          #set($foo=$seen.put($aid,"1"))
           <tr>
           #if ($injectedDecisions.get($attr).getDisplayName())
           <td><div class="label">$injectedDecisions.get($attr).getDisplayName()</div>
           	   <div class="sublabel">$injectedDecisions.get($attr).getReason()</div></td>
           #else
           <td><div class="label">$attr.replaceAll(":.*$","")</div>
           <div class="sublabel">$injectedDecisions.get($attr).getReason()</div></td>
           #end
           <td>$dispvals.get($aid)</td>
           #else
          <tr>
          #if ($injectedDecisions.get($attr).getDisplayName())
          <td><div class="label">$injectedDecisions.get($attr).getDisplayName()</div>
          	  <div class="sublabel">$injectedDecisions.get($attr).getReason()</div></td>
          	  #if($injectedDecisions.get($attr).getValueDisplayName().equals("not available"))
          	  <td style="word-break: break-all;"><span class="not-available">$injectedDecisions.get($attr).getValueDisplayName()</span></td>
          	  #else
          	  <td style="word-break: break-all;">$injectedDecisions.get($attr).getValueDisplayName()</td>
          	  #end
          #else
          <td><div class="label">$attr.replaceAll(":.*$","")</div>
          	  <div class="sublabel">$injectedDecisions.get($attr).getReason()</div></td>
          	  #if($injectedDecisions.get($attr).getValueDisplayName().equals("not available"))
          	  <td style="word-break: break-all;"><span class="not-available">$injectedDecisions.get($attr).getValueDisplayName()</span></td>
          	  #else
          	  <td style="word-break: break-all;">$injectedDecisions.get($attr).getValueDisplayName()</td>
          	  #end
          #end
          #end
			  #if ($injectedDecisions.get($attr).getPolicyDirective().equalsIgnoreCase("useAdvice"))
				#set($current=$injectedDecisions.get($attr).getRecommendedDirective())
			  #else
			    #set($current=$injectedDecisions.get($attr).getPolicyDirective())
		      #end
		      #if($injectedDecisions.get($attr).getPolicyDirective().equals("askMe"))
		      <td class="askMe">ask me</td>
		      #else
		      <td class="$current">$injectedDecisions.get($attr).getPolicyDirective()</td>
		      #end
		      <td class="$injectedDecisions.get($attr).getRecommendedDirective()">$injectedDecisions.get($attr).getRecommendedDirective()</td>
		  </tr>
		  #end	
		  #end
		  <tr>
		  	<th colspan=4>$additional_heading</th>
		  </tr>
		  <tr>
		  <td><div class="label">$all_other_heading</div>
		  <div class="sublabel">$all_other_prefix $localizedRPDisplayName $all_other_suffix</div></td>
		  <td>($any_values)</td>
		  #set($current=$userPolicy.getUserInfoReleasePolicy().getUserAllOtherInfoReleaseStatement().getUserDirectiveAllOtherValues().getUserReleaseDirective())
		  #if($userPolicy.getUserInfoReleasePolicy().getUserAllOtherInfoReleaseStatement().getUserDirectiveAllOtherValues().getUserReleaseDirective().toString().equalsIgnoreCase("askme"))
		  <td class="$current">ask me</td>
		  #else
		  <td class="$current">$userPolicy.getUserInfoReleasePolicy().getUserAllOtherInfoReleaseStatement().getUserDirectiveAllOtherValues().getUserReleaseDirective()</td>
		  #end
		  <td class="askMe">ask me</td>
		  </tr>	
		  <tr>
		  <td><div class="label">$while_away_heading</div>
		  <div class="sublabel">$while_away_prefix $localizedRPDisplayName $while_away_suffix</div></td>
		  <td>($any_values)</td>
		  #set($current=$userPolicy.getUserInfoReleasePolicy().getWhileImAwayDirective())
		  <td class="$current">$userPolicy.getUserInfoReleasePolicy().getWhileImAwayDirective()</td>
		  <td class="deny">deny</td>
		  </tr>
        </table>
        <br>
        <button id="editButton" class="active">$edit_label<i class="button-icon-right fa fa-edit"></i></button>
        <button id="returnButton" class="passive">$cancel_label<i class="button-icon-right fa fa-times"></i></button>
      </div>  
      #else 
      <div id="view-preferences">
      	<p>$localizedRPDisplayName $no_optional</p>
      	<br>
      		<button id="returnButton" class="passive">$cancel_label<i class="button-icon-right fa fa-times"></i></button>
      </div>
      #end
        
      <div id="change-preferences" style="display: none">
        <form name="master-return-form" id="master-return-form" method="POST" action="updatepolicy?conversation=$sconvo">
        <input type="hidden" name="baseId" value="$baseId">
        <input type="hidden" name="csrftoken" value="$csrftoken">
        <table id="settings-table" class="display full-width smaller-text">
          <tr>
            <th><span class="offscreen">Item/Value</span></th>
            <th>Permit <div style="font-weight: normal"><i>$permit_description</i></div></th>
            <th>Deny <div style="font-weight: normal"><i>$deny_description</i></div></th>
            <th>Ask Me <div style="font-weight: normal"><i>$askme_description</i></div></th>
            <th>Use Recommendation <div style="font-weight: normal"><i>$userec_prefix ${short_institution}'s $userec_suffix</i></div></th>      
          </tr>
        #set($seen={})
        #foreach ($attr in $injectedDecisions.keySet())   
      	  #set($aid = $attr.split(':')[0])
      	  #if (!$policytype.get($aid).equalsIgnoreCase("PAO") || !$seen.containsKey($aid))
          #if ($policytype.get($aid).equalsIgnoreCase("PAO") && ! $seen.containsKey($aid))
          #set($foo=$seen.put($aid,"1"))
          #set($need_endbody=1)
          <tbody>
          <tr>
          	#if ($injectedDecisions.get($attr).getDisplayName())
            <td><div class="label">$injectedDecisions.get($attr).getDisplayName()</div>
                <div class="sublabel">$dispvals.get($aid)</div></td>
            #else
            <td><div class="label">$attr.replaceAll(":.*$","")</div>
            <div class="sublabel">$dispvals.get($aid)</div></td>
            #end
          #else
          <tbody>
          <tr>
          #if($injectedDecisions.get($attr).getDisplayName())
            <td style="word-break: break-all;"><div class="label">$injectedDecisions.get($attr).getDisplayName()</div>
                <div class="sublabel">$injectedDecisions.get($attr).getValueDisplayName()</div></td>
            #else
            <td style="word-break: break-all;"><div class="label">$attr.replaceAll(":.*$","")</div>
            	<div class="sublabel">$injectedDecisions.get($attr).getValueDisplayName()</div></td>
            #end
          #end
            <td class="policy-option no-wrap">
            	permit
            	#if ($injectedDecisions.get($attr).getPolicyDirective().equalsIgnoreCase("permit") || (!$injectedDecisions.get($attr).getPolicyDirective() && $injectedDecisions.get($attr).getRecommendedDirective().equalsIgnoreCase("permit"))) 
            		<label for="permit_$attr.toString()" class="offscreen">permit</label><input id="permit_$attr.toString()" type="radio" name="$attr.toString()" value="permit" checked>
        		#else
        			<label for="permit_$attr.toString()" class="offscreen">permit</label><input id="permit_$attr.toString()" type="radio" name="$attr.toString()" value="permit">
    			#end
			</td>
            <td class="policy-option no-wrap">
            	deny
            	#if ($injectedDecisions.get($attr).getPolicyDirective().equalsIgnoreCase("deny"))
            		<label for="deny_$attr.toString()" class="offscreen">deny</label><input id="deny_$attr.toString()" type="radio" name="$attr.toString()" value="deny" checked>
        		#else
        			<label for="deny_$attr.toString()" class="offscreen">deny</label><input id="deny_$attr.toString()" type="radio" name="$attr.toString()" value="deny">
    			#end
			</td>
			<td class="policy-option no-wrap">
				ask me
				#if ($injectedDecisions.get($attr).getPolicyDirective().equalsIgnoreCase("askMe"))
					<label for="ask_$attr.toString()" class="offscreen">ask me</label><input id="ask_$attr.toString()" type="radio" name="$attr.toString()" value="askMe" checked>
				#else
					<label for="ask_$attr.toString()" class="offscreen">ask me</label><input id="ask_$attr.toString()" type="radio" name="$attr.toString()" value="askMe">
				#end
			</td>
			<td class="policy-option no-wrap">
				use recommendation
				#if ($injectedDecisions.get($attr).getPolicyDirective().equalsIgnoreCase("useAdvice"))
					<label for="use_$attr.toString()" class="offscreen">use advice</label><input id="use_$attr.toString()" type="radio" name="$attr.toString()" value="useAdvice" checked>
				#else
					<label for="use_$attr.toString()" class="offscreen">use advice</label><input id="use_$attr.toString()" type="radio" name="$attr.toString()" value="useAdvice">
				#end
            </td>
          </tr>
           		 		                   <tr class="spacer">
          	<th colspan="5" style="padding: .1em;"><span class="offscreen">Current Choice</span></th>
          </tr>
        </tbody>
  		#end
  		#end
  		<tbody>
  		<tr>
  		<td><div class="label">All other information</div>
  		    <div class="sublabel">For any other information requested by $localizedRPDisplayName</div></td>
  		    <td class="policy-option no-wrap">
  		    permit
  		    #if ($userPolicy.getUserInfoReleasePolicy().getUserAllOtherInfoReleaseStatement().getUserDirectiveAllOtherValues().getUserReleaseDirective().toString().equalsIgnoreCase("permit"))
  		    	<label for="permit_other" class="offscreen">permit</label><input id="permit_other" type="radio" name="allOtherInfo" value="permit" checked>
  		    #else
  		    	<label for="permit_other" class="offscreen">permit</label><input id="permit_other" type="radio" name="allOtherInfo" value="permit">
  		    #end
  		    </td>
  		    <td class="policy-option no-wrap">
  		    deny
  		    #if ($userPolicy.getUserInfoReleasePolicy().getUserAllOtherInfoReleaseStatement().getUserDirectiveAllOtherValues().getUserReleaseDirective().toString().equalsIgnoreCase("deny"))
  		    	<label for="deny_other" class="offscreen">deny</label><input id="deny_other" type="radio" name="allOtherInfo" value="deny" checked>
  		    #else
  		    	<label for="deny_other" class="offscreen">deny</label><input id="deny_other" type="radio" name="allOtherInfo" value="deny">
  		    #end
  		    </td>
  		    <td class="policy-option no-wrap">
  		    ask me
  		    #if ($userPolicy.getUserInfoReleasePolicy().getUserAllOtherInfoReleaseStatement().getUserDirectiveAllOtherValues().getUserReleaseDirective().toString().equalsIgnoreCase("askMe"))
  		    	<label for="ask_other" class="offscreen">ask me</label><input id="ask_other" type="radio" name="allOtherInfo" value="askMe" checked>
  		    #else
  		    	<label for="ask_other" class="offscreen">ask me</label><input id="ask_other" type="radio" name="allOtherInfo" value="askMe">
  		    #end
  		    </td>
  		    <td class="policy-option no-wrap">
  		    use recommendation
  		    #if ($userPolicy.getUserInfoReleasePolicy().getUserAllOtherInfoReleaseStatement().getUserDirectiveAllOtherValues().getUserReleaseDirective().toString().equalsIgnoreCase("useAdvice"))
  		    	<label for="use_other" class="offscreen">use advice</label><input id="use_other" type="radio" name="allOtherInfo" value="useAdvice" checked>
  		    #else
  		    	<label for="use_other" class="offscreen">use advice</label><input id="use_other" type="radio" name="allOtherInfo" value="useAdvice">
  		    #end
  		    </td>
  		</tr>
  		          <tr class="spacer">
          	<th colspan="5" style="padding: .1em;"><span class="offscreen">Current Choice</span></th>
          </tr>
  		</tbody>
  		<tbody>
  		<tr>
  		<td><div class="label">$while_away_heading</div>
  		    <div class="sublabel">$while_away_prefix $localizedRPDisplayName $while_away_suffix</div></td>
  		    <td class="policy-option no-wrap">
  		    permit
  		    #if ($userPolicy.getUserInfoReleasePolicy().getWhileImAwayDirective().toString().equalsIgnoreCase("permit"))
  		    	<label for="permit_away" class="offscreen">permit</label><input id="permit_away" type="radio" name="whileImAway" value="permit" checked>
  		    #else
  		    	<label for="permit_away" class="offscreen">permit</label><input id="permit_away" type="radio" name="whileImAway" value="permit">
  		    #end
  		    </td>
  		    <td class="policy-option no-wrap">
  		    deny
  		    #if ($userPolicy.getUserInfoReleasePolicy().getWhileImAwayDirective().toString().equalsIgnoreCase("deny"))
  		    	<label for="deny_away" class="offscreen">deny</label><input id="deny_away" type="radio" name="whileImAway" value="deny" checked>
  		    #else
  		    	<label for="deny_away" class="offscreen">deny</label><input id="deny_away" type="radio" name="whileImAway" value="deny">
  		    #end
  		    </td>
  		    <td class="policy-option no-wrap">
  		     &nbsp;
  		    </td>
  		    <td class="policy-option no-wrap">
  		    use recommendation
  		    #if ($userPolicy.getUserInfoReleasePolicy().getWhileImAwayDirective().toString().equalsIgnoreCase("useAdvice"))
  		    	<label for="use_away" class="offscreen">use advice</label><input id="use_away" type="radio" name="whileImAway" value="useAdvice" checked>
  		    #else
  		    	<label for="use_away" class="offscreen">use advice</label><input id="use_away" type="radio" name="whileImAway" value="useAdvice">
  		    #end
  		    </td>
  		</tr>
  		</tbody>
        </table>
        </form>
         <div>
        <button id="saveButton" class="active">$save_label<i class="button-icon-right fa fa-arrow-right"></i></button>
        <button id="cancelButton" class="passive">$cancel_label<i class="button-icon-right fa fa-times"></i></button>
        </div>
        <div style="clear: left;"></div>
        <br>
      </div>
              </div>  <!--content-section ends-->
      
     #if(!$hasMandatory)
     <div class="content-section">
     <h2>$required_heading $localizedRPDisplayName</h2>
     <p>$localizedRPDisplayName $no_required</p>
     </div>
     #end
     #if($hasMandatory)
      
        <div class="content-section">
        <h2>$required_heading $localizedRPDisplayName</h2>
        <p>$short_institution $required_description $localizedRPDisplayName:</p>
        
        <table class="data-table display full-width">
          <tr>
            <th>$item</th>
            <th class="no-wrap">${current_value}(s)</th>
          </tr>
          #foreach($mkey in $mandatory.keySet())
          <tr>
            	<td><div class="label">$mandatory.get($mkey).get(0).getDisplayName()</div>
            		#if($mandatory.get($mkey).get(0).getReason())
	            		<div class="sublabel">$mandatory.get($mkey).get(0).getReason()</div>
	            	#else
	            		<div class="sublabel"></div>
	            	#end
    	        </td>
				<td>
					#foreach ($j in $mandatory.get($mkey))
						#if($j.getValueDisplayName().equals("not available"))
						<div><span class="not-available">$j.getValueDisplayName()</span></div>
						#else
						<div>$j.getValueDisplayName()</div>
						#end
					#end
				</td>
			</tr>
		  #end
          #foreach($requiredAttribute in $requiredAttributes)
          	<tr>
          		<td><div class="label">$requiredAttribute.getDisplayName()</div>
          			<div class="sublabel">$requiredAttribute.getReason()</div>
      			</td>
      			#if($requiredAttribute.getCurrentValue().contains("not available"))
      			<td><span class="not-available">$requiredAttribute.getCurrentValue()</span></td>
      			#else
      			<td>$requiredAttribute.getCurrentValue()</td>
      			#end
  			</tr>
		  #end
		  
        </table>
        </div>
        <br>
        #end
      
 		<!-- Disclaimer -->
        
      </div>  
    </div>
</html>

<script>
  $('#show-form').click(function(e){
    e.preventDefault();
    $('#view-preferences').hide();
    $('#change-preferences').show();
  });
   $('#saveButton').click(function(e){
     e.preventDefault();
     $('#master-return-form').submit();
   });
   $('#cancelButton').click(function(e){
   	 e.preventDefault();
   	 $('#change-preferences').hide();
   	 $('#view-preferences').show();
   });
   $('#editButton').click(function(e){
     e.preventDefault();
     $('#view-preferences').hide();
     $('#change-preferences').show();
   });
   $('#returnButton').click(function(e){
     e.preventDefault();
     window.location.href="/car/carma/selfservice/sites?canceled=true";
   });
   $('#show-required').click(function(e){
   	e.preventDefault();
   	$('#required-release').show();
   	$('#show-required').hide();
   });
   $('#hide-required').click(function(e){
   	e.preventDefault();
   	$('#required-release').hide();
   	$('#show-required').show();
   });
</script>
</script>