#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
		     #if($successmsg)
		<div class="message success">
			$successmsg
		</div>
	#end
	#if($failmsg)
		<div class="message error">
			$failmsg
		</div>
	#end
	#if($noticemsg)
		<div class="message notice">
			$noticemsg
		</div>
	#end
		<h1>$mysss</h1>

	<div id="sidebar">
		<div class="content-section">
			<h2>$aboutsite_header</h2>
				$aboutsite_body
		</div>
		<button id="addrpbutton" class="active">$add_site<i class="fa button-icon-right fa-plus"></i></button>
		
	</div>
	<div id="left">
					#set($rhnum=0)
    				#foreach ($rhmi in $rhmiList)
    					#set($rhnum=$rhnum+1)
    					#foreach ($lstring in $rhmi.getDisplayname().getLocales())
    						#if ($lstring.getLocale()==$locale)
    							#set($dispn=$lstring.getValue())
    						#end
    					#end
    					#set($rhid=$rhmi.getRhidentifier().getRhid())
    					#if(! $policyMap.get($rhid) || $policyMap.get($rhid).isEmpty())
    					<div/>
    					#else
    					
    					<div class="content-section">
    					<h2>$dispn</h2>
    						#if($policyMap.get($rhid).size() > 10) 
    						<table class="display full-width dataTable no-footer" role="grid" aria-describedby="rhtable_${rhnum}_info" id="rhtable_$rhnum">
    						#else
    						<table class="display full-width testvalue">
    						#end
    							<thead>
    							<tr>
    							<th>$name_heading</th><th>$url_heading</th><th>$updated_heading</th><th></th>
    							</tr>
    							</thead>
    							<tbody>
    						#foreach ($policy in $policyMap.get($rhid)) 
    							<tr>
    								<td>$policy.getRpName()</td>
    								<td>$policy.getRpUrl()</td>
    								<td>$policy.getPolicyUpdateDate()</td>
    								<td><a href="/car/carma/editpolicy?baseId=$policy.getBaseId()">$manage_link</a></td>
    							</tr>
							#end
							</tbody>
							</table>
						</div>
						#end
    				#end
    			</div>
    	</div>
    <script type="text/javascript">
    	$(document).ready(function() {
    		$(".dataTable").DataTable(
    			{
    				"columns": [
    					null,
    					null,
    					{"type":"date"},
    					null]
    			});
    		$("#addrpbutton").click(function() {
    			window.location.href = "/car/carma/selfservice/addsite";
    		});
    	});
    </script>
