#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
<div id="sidebar">
<div class="content-section">
<h2>Be Informed!</h2>
<p>As you move throughout the electronic world of Amber, you may leave more than just footprints!</p><p>  Every time you access a service operated here in Amber, in one of our offshore locations like Rebma, 
or provided by one of our vendor partners out in Shadow, information about you may be shared between systems.  You have a right to know what information the Castle is sharing about you as you use various services, and in many cases, you can have a say in how much information we share with various services.</p><p>Here are some great ways to get informed and take control of your privacy::</p><ul>
 <li><a href="/car/carma/new_rp">Set your privacy preferences</a> to help us align our infrastructure's behavior with your expectations.</li>
 <li><a href="/car/carma/selfservice/sites">Review sites and services</a> who have asked for your personal information.</li>
 <li>Check this site from time to time for updates and tips on protecting your privacy in other ways!</li>
 </ul>
<p></p>

</div></div>
<div id="left">
<h1>Your privacy in the Multiverse</h1>

  <p>Amber cares about your privacy and is working to increase transparency and choice about how your personal information is used.</p>
  <p>This site allows you to see how your personal information is being used today and indicate how you'd like it to be used in the future.</p>

<h2>How this site works</h2>
  
  <p>Our institutional privacy system allows us to record how you prefer for our institutional systems to use your data, as well as institutional agreements about what data must be provided to essential business processes in order for them to function properly.  For example, when you sign into a service with your Amber ID, the login system may need to share information like your local userid, your title and role in the organization, and your contact information with the site.  Our top priority is ensuring that services continue to function properly while working to shift decisions about your privacy to you.</p>
  
<h3>General Preferences</h3>
  <p>The <a href="/car/carma/new_rp">Preferences</a> page allows you indicate how you prefer your personal information is handled, including your comfort level around sharing certain information as well as whether you'd like to be notified when it is solicited.  We will refer to these preferences when a new site or service asks for your information.</p>
<h3>Specific Sites &amp; Services</h3>
  <p> The <a href="/car/carma/selfservice/sites">Sites and Services</a> page allows you to see what sites participating in this system have requested information about you and adjust any available preferences for that specific site.  Pages for each site or service include information provided by the site, such as their privacy policy, to help inform your decisions.</p>  
</div>
