<div id="sidebar">
<div class="content-section">
<h2>Get involved!</h2>
<p>Your engagement helps us advance privacy interests across Duke.</p><p>Here are some great ways to get involved:</p><ul>
 <li><a href="/carma/new_rp">Set your privacy preferences</a> to help us align our infrastructure's behavior with your expectations.</li>
 <li><a href="/car/carma/selfservice/sites">Review sites and services</a> who have asked for your personal information.</li>
 <li>Familiarize yourself with <a href="#">Duke's Privacy Office</a> and current efforts in this area.</li>
 <li>Use the <a href="https://suggestions.oit.duke.edu/">IT Suggestion Box</a> to provide feedback about your experience with this site and how we can improve.</li>
 </ul>
<p></p>

</div></div>
<div id="left">
<h1>Your privacy at Duke</h1>

  <p>Duke cares about your privacy and is working to increase transparency and choice about how your personal information is used.</p>
  <p>This site allows you to see how your personal information is being used today and indicate how you'd like it to be used in the future.</p>

<h2>How this site works</h2>
  
  <p>Duke's institutional privacy system allows us to record how you prefer for Duke to use your data, as well as institutional agreements about what data must be provided to essential business processes in order for them to function properly.  For example, when you sign into a service with your Duke NetID, OIT may need to share information like your Duke UniqueID, affiliation, and contact information to the site.  Our top priority is ensuring that services continue to function properly while working to shift decisions about your privacy to you.</p>
  
<h3>General Preferences</h3>
  <p>The <a href="/carma/new_rp">Preferences</a> page allows you indicate about how you prefer your personal information is handled, including your comfort level around sharing certain information as well as whether you'd like to be notified when it is solicited.  We will refer to these preferences when a new site or service asks for your information.</p>
<h3>Specific Sites &amp; Services</h3>
  <p> The <a href="/car/carma/selfservice/sites">Sites and Services</a> page allows you to see what sites participating in this system have requested information about you and adjust any available preferences for that specific site.  Pages for each site or service include information provided by the site, such as their privacy policy, to help inform your decisions.</p>  
</div>