caradmin.icm.hostname=apache-sp
caradmin.icm.port=443
caradmin.copsu.hostname=apache-sp
caradmin.copsu.port=443
caradmin.arpsi.hostname=apache-sp
caradmin.arpsi.port=443
caradmin.informed.hostname=apache-sp
caradmin.informed.port=443
caradmin.car.hostname=apache-sp
caradmin.car.port=443

#caradmin.resourceholders=undefined

caradmin.institutionname=%institution_name%

caradmin.icmUser=%carma_user%
caradmin.icmCred=%carma_password%

caradmin.copsuUser=%carma_user%
caradmin.copsuCred=%carma_password%

caradmin.arpsiUser=%carma_user%
caradmin.arpsiCred=%carma_password%

caradmin.informedUser=%carma_user%
caradmin.informedCred=%carma_password%

caradmin.carUser=%carma_user%
caradmin.carCred=%carma_password%

caradmin.defaultlocale=en

logouturl=/Shibboleth.sso/Logout?return=https://%apache_fqdn%/idp/profile/Logout

AdminEPPNs=%super_admins%

