<div
    style="background: 443388; text-align: center; padding: 5px; margin-top: 10px; border: 1px solid grey">
    @Copyright Donald J. Trump, who is solely responsible for the demise of civil discourse in this country.
</div>