icm.server.name=apache-sp
icm.server.port=443
copsu.server.name=apache-sp
copsu.server.port=443
arpsi.server.name=apache-sp
arpsi.server.port=443

informed.basicauth.validator.class=edu.internet2.consent.informed.auth.KrbAuth

krbauth.realm=%krb_default_realm%
krbauth.defaultService=krbtgt/%krb_default_realm%@%krb_default_realm%

serverLanguage=en

appUsers=%app_users%,%carma_user%
appadmins=%app_admins%,%carma_user%

