icm.server.name=icmnode
icm.server.port=443
arpsi.server.name=apache-sp
arpsi.server.port=443
copsu.server.name=apache-sp
copsu.server.port=443
icm.decisionOfLastResort=COPSU

icm.basicauth.validator.class=edu.internet2.consent.icm.auth.KrbAuth

krbauth.realm=%krb_default_realm%
krbauth.defaultService=krbtgt/%krb_default_realm%@%krb_default_realm%

serverLanguage=en

icmUser=%carma_user%
icmCred=%carma_password%

appUsers=%app_users%,%carma_user%
appAdmins=%app_admins%,%carma_user%
