icm.server.name=icmnode
icm.server.port=443
copsu.server.name=copsunode
copsu.server.port=443

copsu.basicauth.validator.class=%basicauth_class%

krbauth.realm=%krb_default_realm%
krbauth.defaultService=krbtgt/%krb_default_realm%@%krb_default_realm%

serverLanguage=en

appUsers=%app_users%,%copsu_user%
appAdmins=%app_admins%,%copsu_user%

