<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<EntitiesDescriptor xmlns="urn:oasis:names:tc:SAML:2.0:metadata" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:shibmd="urn:mace:shibboleth:metadata:1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Name="urn:mace:amber.org:shib:federation" validUntil="2030-01-01T00:00:00Z" xsi:schemaLocation="urn:oasis:names:tc:SAML:2.0:metadata ../schemas/saml-schema-metadata-2.0.xsd urn:mace:shibboleth:metadata:1.0 ../schemas/shibboleth-metadata-1.0.xsd http://www.w3.org/2000/09/xmldsig# ../schemas/xmldsig-core-schema.xsd">
	<EntityDescriptor entityID="https://localhost/car-demo-sp">
		<SPSSODescriptor AuthnRequestsSigned="0" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol urn:oasis:names:tc:SAML:1.0:protocol http://schemas.xmlsoap.org/ws/2003/07/secext">
			<KeyDescriptor>
				<ds:KeyInfo>
					<ds:X509Data>
						<ds:X509Certificate>
%car-demo-sp-certificate%
						</ds:X509Certificate>
					</ds:X509Data>
				</ds:KeyInfo>
			</KeyDescriptor>
			<NameIDFormat>urn:mace:shibboleth:1.0:nameIdentifier</NameIDFormat>
			<NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>
			<AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://%apache-fqdn%/Shibboleth.sso/SAML2/POST" index="0" isDefault="true" />
		</SPSSODescriptor>
		<Organization>
			<OrganizationName xml:lang="en">Amber</OrganizationName>
			<OrganizationDisplayName xml:lang="en">Castle Amber</OrganizationDisplayName>
		</Organization>
		<ContactPerson contactType="technical">
			<Givenname>Oberon</Givenname>
			<EmailAddress>oberon@amber.org</EmailAddress>
		</ContactPerson>
	</EntityDescriptor>
		<EntityDescriptor entityID="https://pattern.amber.org/shibboleth">
		<SPSSODescriptor AuthnRequestsSigned="0" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol urn:oasis:names:tc:SAML:1.0:protocol http://schemas.xmlsoap.org/ws/2003/07/secext">
			<KeyDescriptor>
				<ds:KeyInfo>
					<ds:X509Data>
						<ds:X509Certificate>
%car-demo-sp-certificate%
						</ds:X509Certificate>
					</ds:X509Data>
				</ds:KeyInfo>
			</KeyDescriptor>
			<NameIDFormat>urn:mace:shibboleth:1.0:nameIdentifier</NameIDFormat>
			<NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>
			<AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://%apache-fqdn%/Shibboleth.sso/SAML2/POST" index="0" isDefault="true" />
		</SPSSODescriptor>
		<Organization>
			<OrganizationName xml:lang="en">Amber</OrganizationName>
			<OrganizationDisplayName xml:lang="en">Castle Amber</OrganizationDisplayName>
		</Organization>
		<ContactPerson contactType="technical">
			<Givenname>Oberon</Givenname>
			<EmailAddress>oberon@amber.org</EmailAddress>
		</ContactPerson>
	</EntityDescriptor>
		<EntityDescriptor entityID="https://pattern.rebma.org/shibboleth">
		<SPSSODescriptor AuthnRequestsSigned="0" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol urn:oasis:names:tc:SAML:1.0:protocol http://schemas.xmlsoap.org/ws/2003/07/secext">
			<KeyDescriptor>
				<ds:KeyInfo>
					<ds:X509Data>
						<ds:X509Certificate>
%car-demo-sp-certificate%
						</ds:X509Certificate>
					</ds:X509Data>
				</ds:KeyInfo>
			</KeyDescriptor>
			<NameIDFormat>urn:mace:shibboleth:1.0:nameIdentifier</NameIDFormat>
			<NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>
			<AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://%apache-fqdn%/Shibboleth.sso/SAML2/POST" index="0" isDefault="true" />
		</SPSSODescriptor>
		<Organization>
			<OrganizationName xml:lang="en">Rebma</OrganizationName>
			<OrganizationDisplayName xml:lang="en">Watery Rebma</OrganizationDisplayName>
		</Organization>
		<ContactPerson contactType="technical">
			<Givenname>Queen Moire</Givenname>
			<EmailAddress>moire@rebma.org</EmailAddress>
		</ContactPerson>
	</EntityDescriptor>
		<EntityDescriptor entityID="https://logrus.coc.org/shibboleth">
		<SPSSODescriptor AuthnRequestsSigned="0" protocolSupportEnumeration="urn:oasis:names:tc:SAML:2.0:protocol urn:oasis:names:tc:SAML:1.1:protocol urn:oasis:names:tc:SAML:1.0:protocol http://schemas.xmlsoap.org/ws/2003/07/secext">
			<KeyDescriptor>
				<ds:KeyInfo>
					<ds:X509Data>
						<ds:X509Certificate>
%car-demo-sp-certificate%
						</ds:X509Certificate>
					</ds:X509Data>
				</ds:KeyInfo>
			</KeyDescriptor>
			<NameIDFormat>urn:mace:shibboleth:1.0:nameIdentifier</NameIDFormat>
			<NameIDFormat>urn:oasis:names:tc:SAML:2.0:nameid-format:transient</NameIDFormat>
			<AssertionConsumerService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST" Location="https://%apache-fqdn%/Shibboleth.sso/SAML2/POST" index="0" isDefault="true" />
		</SPSSODescriptor>
		<Organization>
			<OrganizationName xml:lang="en">Chaos</OrganizationName>
			<OrganizationDisplayName xml:lang="en">Court of Chaos</OrganizationDisplayName>
		</Organization>
		<ContactPerson contactType="technical">
			<Givenname>Oberon</Givenname>
			<EmailAddress>oberon@chaos.org</EmailAddress>
		</ContactPerson>
	</EntityDescriptor>
</EntitiesDescriptor>