{
    "defaultshowagain": "show",
    "description": {
        "locales": [
            {
                "locale": "en",
                "value": "The work is hard, but we pay Peanuts!"
            },
            {
            	"locale": "es",
            	"value": "¡El trabajo es duro pero pagamos a Peanuts!"
            },
            {
            	"locale": "de",
            	"value": "Die Arbeit ist hart, aber wir bezahlen Erdnüsse!"
            }
        ]
    },
    "displayname": {
        "locales": [
            {
                "locale": "en",
                "value": "Peanuts:  The Amber Payroll System"
            },
            {
            	"locale": "de",
            	"value": "Erdnüsse: Das Amber Payroll System"
            },
            {
            	"locale": "es",
            	"value": "Peanuts: el sistema de nómina Ámbar"
            }
        ]
    },
    "iconurl": "https://%apache_fqdn%/PeanutsLogo.png",
    "privacyurl": "https://docs.google.com/document/d/195_W9556rNrgy2QARzqdsq-72wdzTe56qFuIuVJHDE0",
    "rhidentifier": {
        "rhid": "urn:mace:multiverse:amber",
        "rhtype": "entityId"
    },
    "rpidentifier": {
        "rpid": "https://payroll.amber.org/shibboleth",
        "rptype": "entityId"
    },
    "rpproperties": [
        {
            "rppropertyname": "castlerp",
            "rppropertyvalue": "true"
        },
        {
            "rppropertyname": "entity-category",
            "rppropertyvalue": "http://id.multiverse.org/category/registered-by-multiverse"
        },
        {
            "rppropertyname": "registrar",
            "rppropertyvalue": "http://registrar.multiverse.org"
        },
        {
        	"rppropertyname": "localITSite",
        	"rppropertyvalue": "true"
        },
        {
        	"rppropertyname": "entityId",
        	"rppropertyvalue": "https://payroll.amber.org/shibboleth"
        }
    ]
}
