{
    "defaultshowagain": "show",
    "description": {
        "locales": [
            {
                "locale": "en",
                "value": "We serve the Research Needs of Scholars"
            },
            {
            	"locale": "es",
            	"value": "Atendemos las necesidades de investigación de los académicos."
            },
            {
            	"locale": "de",
            	"value": "Wir bedienen die Forschungsbedürfnisse von Scholars"
            }
        ]
    },
    "displayname": {
        "locales": [
            {
                "locale": "en",
                "value": "Research-r-Us (We Are Your People)"
            },
            {
            	"locale": "de",
            	"value": "Research-r-Us (Wir sind dein Volk)"
            },
            {
            	"locale": "es",
            	"value": "Research-r-Us (Somos tu gente)"
            }
        ]
    },
    "iconurl": "https://%apache_fqdn%/RandSRUs.png",
    "privacyurl": "https://docs.google.com/document/d/1OyqjIDbdpku6_lQFLLA5E-e2WZoAHcrjpaAXGbnYcEc",
    "rhidentifier": {
        "rhid": "urn:mace:multiverse:amber",
        "rhtype": "entityId"
    },
    "rpidentifier": {
        "rpid": "https://research-r-us.com/shibboleth",
        "rptype": "entityId"
    },
    "rpproperties": [
       
        {
            "rppropertyname": "entity-category",
            "rppropertyvalue": "http://id.multiverse.org/category/registered-by-multiverse"
        },
        {
            "rppropertyname": "registrar",
            "rppropertyvalue": "http://registrar.multiverse.org"
        },
        {
        	"rppropertyname": "entityId",
        	"rppropertyvalue": "https://research-r-us.com/shibboleth"
        },
        {
        	"rppropertyname": "entity-category",
        	"rppropertyvalue": "http://refeds.org/category/research-and-scholarship"
        }
    ]
}
