{
    "defaultshowagain": "never",
    "description": {
        "locales": [
            {
                "locale": "en",
                "value": "Amber CAR Manager (CARMA)"
            }
        ]
    },
    "displayname": {
        "locales": [
            {
                "locale": "en",
                "value": "Amber CARMA"
            }
        ]
    },
    "iconurl": "https://%apache_fqdn%/Amber-Icon.png",
    "privacyurl": null,
    "rhidentifier": {
        "rhid": "urn:mace:multiverse:amber",
        "rhtype": "entityId"
    },
    "rpidentifier": {
        "rpid": "https://localhost/car-demo-sp",
        "rptype": "entityId"
    },
    "rpproperties": [
        {
            "rppropertyname": "castlerp",
            "rppropertyvalue": "true"
        },
        {
            "rppropertyname": "corwinrp",
            "rppropertyvalue": "true"
        },
        {
        	"rppropertyname": "entityId",
        	"rppropertyvalue": "https://localhost/car-demo-sp"
        }
    ]
}
