TimeOut 600
ServerName %apache-server-name%

<VirtualHost *:443>
  ServerName %apache-server-name%

  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/ssl.pem
  SSLCertificateKeyFile /etc/ssl/private/ssl.key

  SSLCACertificateFile /etc/ssl/certs/sslsigner.crt

  DocumentRoot /var/www

  # Logs
  #ErrorLog "| /usr/sbin/rotatelogs /var/log/httpd/idms-icm-dev-01.error_log-%Y%m%d 86400 -300"
  #CustomLog "| /usr/sbin/rotatelogs /var/log/httpd/idms-icm-dev-01.access_log-%Y%m%d 86400 -300" combined
  ErrorLog "/var/log/httpd/error_log"
  CustomLog "/var/log/httpd/access_log" combined

</VirtualHost>
