icm.server.name=icmnode
icm.server.port=443
arpsi.server.name=arpsinode
arpsi.server.port=443
copsu.server.name=copsunode
copsu.server.port=443

arpsi.basicauth.validator.class=%basicauth_class%

#arpsi.basicauth.validator.class=edu.internet2.consent.arpsi.auth.KrbAuth
#arpsi.basicauth.validator.class=edu.internet2.consent.arpsi.auth.NullAuth

krbauth.realm=%krb_default_realm%
krbauth.defaultService=krbtgt/%krb_default_realm%@%krb_default_realm%

serverLanguage=en

appUsers=%app_users%,%carma_user%
appAdmins=%app_admins%,%carma_user%

