<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver.class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql:loadbalance://node1:3306,node2:3306,node3:3306/arpsi?autoReconnect=true</property>
    <property name="hibernate.connection.username">arpsiuser</property>
    <property name="hibernate.connection.password">ResistanceIsFutile</property>
    <property name="hibernate.connection.autocommit">false</property>

	<property name="hibernate.c3p0.min_size">1</property>
	<property name="hibernate.c3p0.max_size">10</property>
	<property name="hibernate.c3p0.timeout">3605</property>
	<property name="hibernate.c3p0.max_statements">5000</property>
	<property name="hibernate.c3p0.idle_test_period">600</property>
	<property name="hibernate.c3p0.preferredTestQuery">select 1;</property> 
	<property name="hibernate.c3p0.acquireRetryAttempts">0</property>
	<property name="hibernate.c3p0.acquireRetryDelay">3000</property>
	<property name="hibernate.c3p0.breakAfterAcquireFailure">false</property>
	 
    <!-- Do not go into production with this in place; this is for testing only -->
    <!-- Enabling this will destroy your database and all associated data! -->
    <!-- <property name="hbm2ddl.auto">create</property> -->  
    <!--  Enable this to show SQL being processed  -->
    <!-- <property name="hibernate.show_sql">true</property>-->
    <mapping class="edu.internet2.consent.arpsi.model.OrgReturnedPolicy"/>
    <mapping class="edu.internet2.consent.arpsi.model.OrgDirectiveOnValues"/>
    <mapping class="edu.internet2.consent.arpsi.model.OrgInfoReleaseStatement"/>
    <mapping class="edu.internet2.consent.arpsi.model.RelyingPartyProperty"/>
    <mapping class="edu.internet2.consent.arpsi.model.UserProperty"/>
    <mapping class="edu.internet2.consent.arpsi.model.ValueObject"/>
    
  </session-factory>
</hibernate-configuration>
