#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
<div id="sidebar">
	<div class="content-section">
		<h3>Licensed Content</h3>
		#if(! $odn)
			No content available
		#else
			#if(! $localDepartmentCode)
				Welcome, $eduPersonOrgDN user!  You appear to have no accessible licensed content at this time.  Check with your local content manager(s) for further information or consider allowing your isntitution to provide us with information about your departmental affiliations in order to access content licensed exclusively for your department when you next log in.
			#else
				#if($localDepartmentCode.contains("12130100"))
					Your <b>Law School<b> affiliation gives you access to <a href="https://www.lexisnexis.com/en-us/home.page">LexisNexis</a>
					<hr>
				#end
				#if($localDepartmentCode.contains("12180000"))
					The <b>Department of Civil Engineering</b> has licensed <a href="https://www.asce.org/routing-page/technical-areas/">ASCE Content</a> for your use.
					<hr>
				#end
				#if($localDepartmentCode.contains("12171555"))
					The <b>Department of Sociology</b> has negotiated licensed access to <a href="https://www.icpsr.umich.edu/icpsrweb/ICPSR/support/students">ICPSR content</a> for students and researchers in the department.
				#end
				#if($localDepartmentCode.contains("10010011"))
					Welcome, administrator!  Licensed content is currently available as follows:<br>
					<ul>
					<li><b>School of Law</b> licenses limited LexisNexis access for its constituents</li>
					<li><b>Civil Engineering</b> licenses part of the ASCE technical content for use by departmental faculty and graduate students</li>
					<li><b>Sociology</b> has licensed certain student-oriented ICPSR resources</li>
					</ul>
				#end
			#end
		#end
	</div>
</div>

<div id="left">
	<div class="content-section">
		#if($odn)
		<h2>$sitename</h2>
		<b>You appear to be visiting from $eduPersonOrgDN Here's what we know about you:</b>
		<ul>
			#foreach($n in $anames)
			  #if($map.get($n))
				#if($map.get($n).getClass().isArray())
					#foreach($v in $map.get($n))
						<li>$n == $v</li>
					#end
				#else
				  #if ($map.get($n))
					<li>$n == $map.get($n)</li>
				  #end
				#end
			  #end
			#end
		#else
			<b>You appear to have no home organization!  We cannot support you unless you are with one of our customer sites -- perhaps you need to consent to releasing more information to us at login?</b>
		#end
	</div>
</div>
		