#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
<div id="sidebar">
	<div class="content-section">
		This is a sidebar
	</div>
</div>

<div id="left">
	<div class="content-section">
		#if($isfaculty)
		<h2>$sitename</h2>
		<b>You appear to be a faculty member -- you're gonna like it here.  Here's what we know about you:</b>
		<ul>
			#foreach($n in $anames)
				#if($map.get($n).getClass().isArray())
					#foreach($v in $map.get($n))
						<li>$n == $v</li>
					#end
				#else
					<li>$n == $map.get($n)</li>
				#end
			#end
			<br>
			#foreach($a in $map.get("eduPersonScopedAffiliation"))
				#if($a.startsWith("student")
					<b>You appear to be a student, too -- how nice!  We'll add some student material for you!</b>
				#end
				#if($a.startsWith("staff")
					<b>Faculty administration is an underappreciated discipline.  We'll add some staff content for you!</b>
				#end
				#if($a.startsWith("alum")
					<b>Couldn't get enough of us, so you stayed (or you came back) after getting your PhD?  Excellent!</b>
				#end
			#end
		#else
			<b>You don't appear to be a faculty member.  Get a real job, why don't you?  And cut that hair!</b>
		#end
	</div>
</div>
		