#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
<div id="sidebar">
	<div class="content-section">
		#set($rhgrand=0)
		#set($iigrand=0)
		#set($activegrand=0)
		#set($rpgrand=0)
		#set($polgrand=0)
		#set($ugrand=0)
		#foreach($iv in $injected)
			#set($rhgrand=$rhgrand+1)
			#set($iigrand=$iigrand+$iv.getInfoitemcount())
			#set($rpgrand=$rpgrand+$iv.getRpcount())
			#set($activegrand=$activegrand+$iv.getActiverpcount())
			#set($ugrand=$ugrand+$iv.getUsercount())
			#set($polgrand=$polgrand+$iv.getUserpolcount()+$iv.getArpsipolcount()+$iv.getCarmapolcount())
		#end
		<h2>$grand_totals_heading</h2>
		<div name="grands">
			<table class="stats">
				<tr><td class="stat-label">$rh_total_heading</td><td class="stat-value">$rhgrand</td></tr>
				<tr><td class="stat-label">$info_items_heading</td><td class="stat-value">$iigrand</td></tr>
				<tr><td class="stat-label">$rps_label</td><td class="stat-value">$rpgrand</td></tr>
				<tr><td class="stat-label">$active_rps_label</td><td class="stat-value">$activegrand</td></tr>
				<tr><td class="stat-label">$users_label</td><td class="stat-value">$ugrand</td></tr>
				<tr><td class="stat-label">$policies_label</td><td class="stat-value">$polgrand</td></tr>
			</table>
		</div>
	</div>
</div>

<div id="left">
	<div class="content-section">
		<h2>$recent_label</h2>
		<ul class="log">
			#foreach($entry in $activitylist)
				#set($foo=$date.setTime($entry.getTimestamp()))
				<li>$sdf.format($date)  -  $entry.getUser() $entry.getOperation()</li>
			#end
		</ul>
	</div>
	<div class="content-section">
			<h2>$policies_label</h2>
			<table class="display full-width">
			<thead>
				<tr>
					<th class="wrappingtd">$rh_heading</th>
					<th class="wrappingtd">$opol_count_label</th>
					<th class="wrappingtd">$mpol_count_label</th>
					<th class="wrappingtd">$upol_count_label</th>
				</tr>
			</thead>
			<tbody>
				#foreach ($rhmi in $rhlist)
					<tr>
						<td class="wrappingtd"><a href="/caradmin/orgpolicyview/$rhmi.getRhidentifier().getRhtype()/$CarAdminUtils.idEscape($rhmi.getRhidentifier().getRhid())">$rhdisp.get($rhmi.getRhidentifier().getRhid())</a></td>
						<td class="wrappingtd">$rhorg.get($rhmi.getRhidentifier().getRhid())</td>
						<td class="wrappingtd">$rhicm.get($rhmi.getRhidentifier().getRhid())</td>
						<td class="wrappingtd">$imap.get($rhmi.getRhidentifier().getRhid()).getUserpolcount()</td>
					</tr>
				#end
			</tbody>
		</table>
	</div>
	<p><a href="#">$back_link</a></p>
</div>
		