#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
#if($successmsg)
<div class="message success">
	$successmsg
</div>
#end
#if($failmsg)
<div class="message error">
	$failmsg
</div>
#end
<div id="left">
	
	<div class="content-section">
		<table class="display full-width">
			<thead>
				<tr>
					<th>$rh_heading</th>
					<th>$opol_count_label</th>
					<th>$mpol_count_label</th>
				</tr>
			</thead>
			<tbody>
				#foreach ($rhmi in $rhlist)
					<tr>
						<td class="wrappingtd"><a href="/caradmin/orgpolicyview/$rhmi.getRhidentifier().getRhtype()/$CarAdminUtils.idEscape($rhmi.getRhidentifier().getRhid())">$rhdisp.get($rhmi.getRhidentifier().getRhid())</a></td>
						<td class="wrappingtd">$rhorg.get($rhmi.getRhidentifier().getRhid())</td>
						<td class="wrappingtd">$rhicm.get($rhmi.getRhidentifier().getRhid())</td>
					</tr>
				#end
			</tbody>
		</table>
	</div>
</div>