#**
 * Copyright 2015 - 2019 Duke University
 
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License Version 2 as published by
    the Free Software Foundation.
 
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
 
    You should have received a copy of the GNU General Public License Version 2
    along with this program.  If not, see <https://www.gnu.org/licenses/old-licenses/gpl-2.0.txt>.

 *#
	#set($formnumber=0)
	
	#if($successmsg)
		<div class="message success">
			$successmsg
		</div>
	#end
	#if($failmsg)
		<div class="message error">
			$failmsg
		</div>
	#end
	
	<h1>$rh_total_heading</h1>
	<div id="sidebar">
		<div class="content-section">
			<h2>$new_rh_heading</h2>
			<form id="newrhform" method="POST" action="#">
			<div class="form-set">
				<label for="rhid">$id_heading <span class="required">*</span></label>
				<label for="rhtype" class="visually-hidden">$rh_type_label</label>
				<select name="rhtype">
					#foreach($vtype in $rhidtypes)
						<option value="$vtype">$vtype</option>
					#end
				</select>
				<input type="text" name="rhid" placeholder="RH Identifier">
			</div>
				
				<input type="hidden" id="displaynamecount" name="displaynamecount" value="1">
				<input type="hidden" id="descriptioncount" name="descriptioncount" value="1">
				<input type="hidden" name="formname" value="newrhform">
			<div class="form-set">
				<label for="displaynamevalue1">$displayname_label <span class="required">*</span></label>
				<label for="displaynamelanguage1" class="visually-hidden">$dn_lang_label</label>
				<select name="displaynamelanguage1">
					#foreach($vlang in $languages)
						<option value="$vlang">$vlang</option>
					#end
				</select>
				<input type="text" name="displaynamevalue1" placeholder="Display Name">
			</div>
			<div class="form-set">
				<label for="descriptionvalue1">$description_label</label>
				<label for="descriptionlanguage1" class="visually-hidden">$descr_lang_label</label>
				<select name="descriptionlanguage1">
					#foreach($vdesclang in $languages)
						<option value="$vdesclang">$vdesclang</option>
					#end
				</select>
				<input type="text" name="descriptionvalue1" placeholder="Description">
			</div>
			<button class="active" type="submit">$create_rh_label<i class="button-icon-right fa fa-arrow-right"></i></button>

			</form>
		</div>
	</div>
	
	<div id="left">
		#foreach ($x in $injectedrhlist)
			<div class="content-section">
				<h2><a href="/caradmin/rhregistration/$x.getRhtype()/$CarAdminUtils.idEscape($x.getRhidentifier())/">$x.getDisplayname()</a></h2>
				<p>$x.getDescription()</p>
			</div>
		#end
	</div>
	